body{
	font-family: sans-serif;
}

.pos{
	position: relative;
	text-align: center;
	top: 100px;
}
.banner_text{
	/*font-family: sans-serif;*/
	font-size: 20px;
	/*position: relative;*/
	/*margin-bottom: 20px;*/
	/*margin-top: 20px;*/
	/*text-align: center;*/
	display: flex;
	justify-content: center;
	align-items: center;
	color: #ffff;
}
.banner{
	font-family: sans-serif;
	position: absolute;
	top: 0;
	left: 0;
	text-align: center;
	color: red;
	height: 100px;
	width: 100%;
	background-color: black;
}

.logo{
	width: 150px;
	position: absolute;
	left: 20px;
	top: 20px;
}
/*.gallery{
	position: relative;
	display: inline-flex;
	top: 100px;
}

.wrap{
	position: relative;
	top: 100px;
	text-align: center;
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: #f9f9f9;
	height: 100vh;
}
.left-frame .right-frame{
	flex: 1;
	display: flex;
	justify-content: center;
}

.frame-size{
	width: 750px;
	height: 600px;
}*/




.wrap{
	position: relative;
	top: 175px;
	width: 100%;
	height: 100vh;
	display: flex;
}

.left{
	width: 100%;
	height: 100%;
	/*display: flex;*/
	text-align: center;
	align-items: center;
	justify-content: center;
}

.right{
	width: 100%;
	height: 100%;
	/*display: flex;*/
	text-align: center;
	align-items: center;
	justify-content: center;
}

.left-down{
	position: relative;
	top: -200px;
	width: 100%;
	height: 100%;
	/*display: flex;*/
	text-align: center;
	align-items: center;
	justify-content: center;
}

.right-down{
	position: relative;
	top: -200px;
	width: 100%;
	height: 100%;
	/*display: flex;*/
	text-align: center;
	align-items: center;
	justify-content: center;
}

.frame-size{
	width: 750px;
	height: 600px;
}

.titles{
	/*font-family: sans-serif;*/
	position: relative;
	/*top: 12%;*/
}
.title_wrap{
	/*display: flex !important;*/
}

.intro_title{
	background-color: black;
	color: #ffff;
	display: inline-flex;
	padding: 20px;
	border-radius: 5px;
}

.intro_title_wrap{
	position: relative;
	text-align: center;
	top: 150px;
}



































